In [21]:
import numpy as np

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from numpy.random import beta

## Iris dataset

In [22]:
dados = load_iris(as_frame = True)['data']
dados['type'] = load_iris(as_frame = True )['target']

dados.groupby('type').describe()['sepal length (cm)']

      count   mean       std  min    25%  50%  75%  max
type
0      50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
1      50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
2      50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [23]:
dados.groupby('type').describe()['petal width (cm)']

      count   mean       std  min  25%  50%  75%  max
type
0      50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
1      50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
2      50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [24]:
X = load_iris(as_frame = True)['data']
y = load_iris(as_frame = True)['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

In [25]:
gnb = GaussianNB()

gnb_treinado = gnb.fit(X_train, y_train)

y_pred = gnb_treinado.predict(X_test)

total_de_casos = X_test.shape[0]
total_de_erros = (y_test != y_pred).sum()
taxa = round(1 - (total_de_erros / total_de_casos), 2) * 100

print("Número de casos: {0}\nNúmero de erros: {1}\nTaxa de acerto: {2}%".format(total_de_casos, total_de_erros, taxa))

Número de casos: 75
Número de erros: 4
Taxa de acerto: 95.0%

## Thompson Sampling

In [26]:
titulo_1_a = 0 + 1
titulo_1_b = 0 + 1

titulo_2_a = 0 + 1
titulo_2_b = 0 + 1

titulo_3_a = 0 + 1
titulo_3_b = 0 + 1

titulo_4_a = 0 + 1
titulo_4_b = 0 + 1

t1 = beta(a = titulo_1_a, b = titulo_1_b, size = 1)
t2 = beta(a = titulo_2_a, b = titulo_2_b, size = 1)
t3 = beta(a = titulo_3_a, b = titulo_3_b, size = 1)
t4 = beta(a = titulo_4_a, b = titulo_4_b, size = 1)

print("Resultado para o título 1: {}\n\
Resultado para o título 2: {}\n\
Resultado para o título 3: {}\n\
Resultado para o título 4: {}".format(t1, t2, t3, t4))

Resultado para o título 1: [0.24847761]
Resultado para o título 2: [0.09389046]
Resultado para o título 3: [0.73974265]
Resultado para o título 4: [0.20521792]

In [27]:
titulo_1_a = 1000 + 1
titulo_1_b = 5000 + 1

titulo_2_a = 987 + 1
titulo_2_b = 4763 + 1

titulo_3_a = 1563 + 1
titulo_3_b = 7580 + 1

titulo_4_a = 804 + 1
titulo_4_b = 4503 + 1

t1 = beta(a = titulo_1_a, b = titulo_1_b, size = 1)
t2 = beta(a = titulo_2_a, b = titulo_2_b, size = 1)
t3 = beta(a = titulo_3_a, b = titulo_3_b, size = 1)
t4 = beta(a = titulo_4_a, b = titulo_4_b, size = 1)

print("Resultado para o título 1: {}\n\
Resultado para o título 2: {}\n\
Resultado para o título 3: {}\n\
Resultado para o título 4: {}".format(t1, t2, t3, t4))

Resultado para o título 1: [0.1553155]
Resultado para o título 2: [0.16654131]
Resultado para o título 3: [0.16870565]
Resultado para o título 4: [0.1535004]

## Cadeias de Markov

In [28]:
p_A_amanha_dado_B_hoje = 0.73
p_B_amanha_dado_B_hoje = 0.27

p_B_amanha_dado_A_hoje = 0.85
p_A_amanha_dado_A_hoje = 0.15

p_A = 0.58
p_B = 0.42

In [29]:
p_A_amanha = p_A*p_A_amanha_dado_A_hoje + p_B*p_A_amanha_dado_B_hoje
p_A_amanha

0.39359999999999995

In [30]:
p_B_amanha = p_A*p_B_amanha_dado_A_hoje + p_B*p_B_amanha_dado_B_hoje
p_B_amanha

0.6063999999999999

In [31]:
hoje = np.array([
    [0.15, 0.85],
    [0.73, 0.27]
])

nove_dias_a_frente = np.linalg.matrix_power(hoje, 10)
priori = np.array([ [0.42], [0.58]])

daqui_a_dez_dias = np.matmul(nove_dias_a_frente, priori)

daqui_a_dez_dias

array([[0.50570513],
       [0.50639442]])